<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Elephant</title>
  </head>
  <body>

    <fieldset>
      <legend><h1>Edit a Elephant</h1></legend>
      <form action="/elephant" method="post">
        <% for(const ele of elephant){ %>
        <div>
          <label for="">Name</label>
          <input type="text" name="name" placeholder="<%=ele.name %>">
        </div>
        <div>
          <label for="">Species</label>
          <select value="species" name="species" >
            <option name="<%=ele.species %>" id="" disabled>Previously selected: <%=ele.species %></option>
            <option name="African bush elephant (Loxodonta africana)" id="">African bush elephant (Loxodonta africana)</option>
            <option name="African forest elephant (L. cyclotis)" id="">African forest elephant (L. cyclotis)</option>
            <option name="Asian elephant (Elephas maximus)" id="">Asian elephant (Elephas maximus)</option>
          </select>
        </div>
        <div>
          <label for="">Native Region</label>
          <select value="native_country" name="native_country">
            <option name="<%=ele.native_country %>" id="" disabled>Previously selected: <%=ele.native_country %></option>
            <option name="East Africa" id="">East Africa</option>
            <option name="West Africa" id="">West Africa</option>
            <option name="South Africa" id="">South Africa</option>
            <option name="South Africa" id="">Asia</option>
            <option name="South East Asia" id="">South East Asia</option>
          </select>
        </div>
        <div>
          <label for="">Age</label>
          <input type="text" name="age" placeholder="<%= ele.age %>">
        </div>
        <% } %>
        <button>Edit!</button>
      </form>
    </fieldset>
